html, body {
    margin: 0;
    padding: 0;
}


:root {
    --grad-1: rgb(137,103,205);
    --grad-2: rgb(124,151,53);
}

.top-left-animation {
    position: absolute;
    z-index: 2;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type:none;
}

main {
    display: block;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

a {
    background-color: #0000;
}

img {
    border-style: none;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

body {
    color: #d1d1d1;
    background: #1d1d20;
}

h1, h2 {
    font-weight: 100;
}

.nav-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }

.nav-links ul {
    display: flex;
    list-style: none;
    margin: 0;
  }

  .nav-links ul li {
    padding: 10px;
  }
  

.logo  {
    width: 15vw;
  }

a {
    width: 100px;
}

#welcome h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.personal-description {
    font-family: 'Montserrat', sans-serif;
}

.main-text {
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}

footer {
    padding: 40px;
    text-align: left;
}
